body{
    background-color: #393e46;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  
}
.intro{
    color: #00adb5;
    width: 65%;
    
}
img{
    display: block;
}
.photo{
    height: 300px;
    width:300px;
    border-radius: 50%;
}
.big__text{
    font-weight: 500;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    /* font-family: 'Black Ops One', cursive; */
    
}
.intro__text{
    font-size: 35px;
    font-family: 'Alegreya', serif;
}
.projects__section{
    background-color:#D0CFBB;
    display: flex;
    flex-flow: column nowrap;
}
.project{
    display: flex;
    max-width: 70%;
    margin-top: 150px;
    margin-bottom: 60px;
    height: 300px;
}
.left{
    margin-left: 30px;
}
.right{
    margin-left: auto;
    margin-right: 30px;
}
.project__header{
    font-size: 80px;
    letter-spacing: 10px;
    text-align: center;
    font-family: 'Faster One', cursive;
}
.project__image{
    border-radius: 15px;
    width: 45%;
    box-shadow: 0 6px 8px rgba(0,0,0,0.6);
    transition: all 0.5s;
}
.project__image:hover{
    transform: scale(1.05);
}
.project__info{
    display: flex;
    flex-flow: column;
    margin-left: 100px;
    border-radius: 15px;
}
.project__title{
  color: #bb2205;
  font-size: 35px;
  letter-spacing: 4px;
  font-family: 'Lemon', cursive;
}
.project__info p{
    color:black;
    font-size: 20px;
    line-height: 34px;
}