body{
    background-color: #393e46;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  
}
.intro{
    color: #00adb5;
    width: 65%;
    
}
img{
    display: block;
}
.photo{
    height: 300px;
    width:300px;
    border-radius: 50%;
}
.big__text{
    font-weight: 500;
    font-size: 100px;
    font-family: 'Bungee Shade', cursive;
    /* font-family: 'Black Ops One', cursive; */
    
}
.intro__text{
    font-size: 35px;
    font-family: 'Alegreya', serif;
}
.projects__section{
    background-color:#D0CFBB;
    display: flex;
    flex-flow: column nowrap;
}
.project{
    display: flex;
    max-width: 70%;
    margin-top: 150px;
    margin-bottom: 60px;
    height: 300px;
    /* background-color: chartreuse; */
}
.left{
    margin-left: 30px;
}
.right{
    margin-left: auto;
    margin-right: 30px;
}
.project__header{
    font-size: 80px;
    letter-spacing: 10px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Faster One', cursive;
}
.project__image{
    border-radius: 15px;
    max-width: 42%;
    /* height: auto; */
    box-shadow: 0 6px 8px rgba(0,0,0,0.6);
    transition: all 0.5s;
    
}
.project__image:hover{
    transform: scale(1.04);
    box-shadow: none;
    
}
.project__info{
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-flow: column;
    margin-left: 100px;
    border-radius: 15px;
    max-width: 40%;
}
.project__title{
  color: #bb2205;
  font-size: 35px;
  letter-spacing: 4px;
  font-family: 'Lemon', cursive;
}
.project__info p{
    color:black;
    font-size: 20px;
    line-height: 34px;    
}


/* slider button */
.button_slide {
    color: rgb(0, 179, 149);
    border: 2px solid rgb(0, 179, 149);
    border-radius: 0px;
    padding: 5px 10px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(0, 179, 149);
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    
  }
  .button__span{
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: 700;
    color: rgb(0, 179, 149);
    font-weight: 500;
    font-size: 18px;
    /* letter-spacing: 1px; */
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
  }
  .button__span:hover {
      color: white
  }
  
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 rgb(0, 179, 149);
    color: white;
  }
  


/****  reponsive design    ****/

@media screen and (max-width:1370px){
    .project{
        max-width: 80%;
    }
    .project__image{
        width: 40%;
    }
}
@media screen and (max-width:1174px){
    .project{
        max-width: 85%;
    }
    .project__image{
        width: 40%;
        border-radius: 8px;
    }
    .project__title{
        font-size: 28px;
    }
    .project__info p{
        font-size: 20px;
    }
}
@media screen and (max-width: 1069px){
    .big__text{
        font-size: 80px;
    }
    .project__image{
        height: 80%;
    }
}
@media screen and (max-width: 1027px){
    .project{
        max-width: 100%;
    }
    .left{
        margin-left: 30px;
        margin-right: 30px;
    }
    .right{
        margin-left: 30px;
        margin-right: 30px;
    }
    .project__image{
        border-radius: 8px;
    }
    .project__info{
        max-width: 100%;
    }

}
@media screen and (max-width: 855px){
    .big__text{
        font-size: 50px;
    }
    .project__image{
        height: 80%;
    }
    .intro__text{
        font-size: 25px;
        /* width: 80%; */

    }
    header{
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 804px){
    .big__text{
        font-size: 40px;
    }
    
}

@media screen and (max-width: 790px){
    .project{
        flex-flow: column;
        height: 400px;
    }
    .project__info{
        margin-left: 0;
    }
    .project__info{
        max-width: 70%;
        margin-top: 50px;
    }
    .project__image{
        height: 100%;
        min-width: 65%;
    }
    .button_slide{
        font-size: 15px;
    }
}
@media screen and (max-width: 584px){
    .welcome{
        letter-spacing: 4px;
    }
    .project__header{
        font-size: 60px;
        margin-top: 100px;
    }
    .project__info{
        max-width: 90%;
    }
    .project__image{
        min-width: 90%;
    }
    
}
@media screen and (max-width: 547px){
    .photo{
        height: 250px;
        width:250px;
        border-radius: 50%;
    }   
}
@media screen and (max-width: 475px){
    .project__info p{
        font-size: 17px;
    }
    .project__header{
        font-size: 46px;
    }
    .project__image{
        min-width: 90%;
    }
}
@media screen and (max-width: 335px){
    .project__header{
        font-size: 35px;
    }
}
